html{
   font-size: 15px;

}
body{
    background-color: black;

}
main{ 
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: "a a"
                       "b b"
                       "c c"
                       "d d"
                       "e e"
                       "e e";

   grid-template-rows: repeat(6,100px);
    gap: 30px;

}

section{
    background-color: bisque;
}


section:nth-last-of-type(1){
    grid-area: a;
   background: linear-gradient(180deg,blueviolet 10%,white 10%, white 90%);
   border-radius: 5px;
}  
section:nth-last-of-type(2){
    grid-area: b;
}
section:nth-last-of-type(3){
    grid-area: c;
}
section:nth-last-of-type(4){
    grid-area: d;
}
section:nth-last-of-type(5){
    grid-area: e;
}

    