@media print {
    html{
        font-size: 15px;
    }
    body{
      background-color: transparent;
    }
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       grid-template-areas: "a a b b"
                            "a a c c"
                            "d d e e"
                            "f f g g"
                            "h h i i" ;
        grid-template-rows: repeat(5, 100px);
        gap: 20px;
    }
    section{
        /* width: 50%; */
      background-color: rgb(12, 6, 6);
      /* height: 50px; */
      /* margin-top: 10px;
      margin-bottom: 2em;
      margin-left: 2rem;
      margin-right: 0.5rem; */
      /* margin: 20px auto; */

      border: 15px solid black;
    }
    .middle{
        background-color: black;
    }
    section:nth-of-type(1){
        grid-area: a;
    
    }
    section:nth-of-type(2){
         grid-area: b;
    }
    section:nth-of-type(3){
        grid-area: c;
    }
    section:nth-of-type(4){
        grid-area: d;
    }
    
    section:nth-of-type(5){
        grid-area: e;
    }
    
    section:nth-of-type(6){
         grid-area: f;
    }
    section:nth-of-type(7){
          grid-area: g;
    }
    section:nth-of-type(8){
        grid-area: h;
    }
    section:nth-of-type(9){
        grid-area: i;
    
    }  
}
@media screen and (min-width: 300px){
    html{
        font-size: 15px;
    }
    body{
      background-color: darkblue;
    }
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       grid-template-areas: "a"
                            "b"
                            "c"
                            "d"
                            "e" 
                            "f"
                            "g"
                            "h"
                            "i";
        grid-template-rows: repeat(9, 100px);
        gap: 20px;
    }
    section{
        /* width: 50%; */
      background-color: rgb(160, 48, 48);
      /* height: 50px; */
      /* margin-top: 10px;
      margin-bottom: 2em;
      margin-left: 2rem;
      margin-right: 0.5rem; */
      /* margin: 20px auto; */
    }
    .middle{
        background-color: black;
    }
    section:nth-of-type(1){
        grid-area: a;
    
    }
    section:nth-of-type(2){
         grid-area: b;
    }
    section:nth-of-type(3){
        grid-area: c;
    }
    section:nth-of-type(4){
        grid-area: d;
    }
    
    section:nth-of-type(5){
        grid-area: e;
    }
    
    section:nth-of-type(6){
         grid-area: f;
    }
    section:nth-of-type(7){
          grid-area: g;
    }
    section:nth-of-type(8){
        grid-area: h;
    }
    section:nth-of-type(9){
        grid-area: i;
    
    }    
}

@media screen and (min-width: 760px){


  
html{
    font-size: 15px;
}
body{
  background-color: darkblue;
}
main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "a a "
                        "b c"
                        "d e"
                        "f g"
                        "h i" ;
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
}
section{
    /* width: 50%; */
  background-color: rgb(160, 48, 48);
  /* height: 50px; */
  /* margin-top: 10px;
  margin-bottom: 2em;
  margin-left: 2rem;
  margin-right: 0.5rem; */
  /* margin: 20px auto; */
}
.middle{
    background-color: black;
}
section:nth-of-type(1){
    grid-area: a;

}
section:nth-of-type(2){
     grid-area: b;
}
section:nth-of-type(3){
    grid-area: c;
}
section:nth-of-type(4){
    grid-area: d;
}

section:nth-of-type(5){
    grid-area: e;
}

section:nth-of-type(6){
     grid-area: f;
}
section:nth-of-type(7){
      grid-area: g;
}
section:nth-of-type(8){
    grid-area: h;
}
section:nth-of-type(9){
    grid-area: i;

}  
}

@media screen and (min-width: 920px) {
    

html{
    font-size: 15px;
}
body{
  background: url(./blove.jpg);
  background-size: cover;
  opacity: 0.8;
}
main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   grid-template-areas: "a a b c"
                        "a a d e"
                        "g g f f"
                        "h h f f"
                        "i i i i" ;
    grid-template-rows: repeat(5, 500px);
    gap: 20px;
}
section{
    /* width: 50%; */
  background-color: rgb(160, 48, 48);
  /* height: 50px; */
  /* margin-top: 10px;
  margin-bottom: 2em;
  margin-left: 2rem;
  margin-right: 0.5rem; */
  /* margin: 20px auto; */
}
.middle{
    background-color: black;
}
section:nth-of-type(1){
    grid-area: a;
   background: url(./hos.jpg), url(./hos.jpg),  url(./hos.jpg), url(./hos.jpg), url(./hos.jpg);
   background-position: top left, center, top right, bottom right, bottom left;
  background-repeat: no-repeat;
    
}  
section:nth-of-type(2){
     grid-area: b;
     background: linear-gradient(180deg, black 33.3%, red 33.3%, red 66.6%, gold 66.6%);
     border-radius: 10px;

} 
section:nth-of-type(3){
    grid-area: c;
background: radial-gradient(red 30%, white 30%);
}       
section:nth-of-type(4){
    grid-area: d;

    background: repeating-radial-gradient(red 12%, white 17%);
}
section:nth-of-type(5){
    grid-area: e;


}

section:nth-of-type(6){
     grid-area: f;
     background: url(./oyin.jpg), url(./ho.jpg);
background-repeat: repeat-x, repeat-y;
background-position: center, right;
}
section:nth-of-type(7){
      grid-area: g;
      background: url(./emma.jpg);
      background-size: contain;
      background-repeat: no-repeat;
}
section:nth-of-type(8){
    grid-area: h;
    background: radial-gradient(red 30%, white 30%);
}
section:nth-of-type(9){
    grid-area: i;
    background: url(./ho.jpg);
    background-color: wheat;
}
section:nth-of-type(9):hover{
    grid-area: i;
    background-blend-mode:darken;
}
}